*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around; 
}

h3{
    margin: 10% 0 0 0;
    display: flex;
    font-size: 3em;
    justify-content: center;
}

.text-description{
    width: 60%;
    font-size: 1.2em;
    margin: 2% auto 0 auto;
    text-align: center;
    

}

#logo{
    width: 150px;

    align-self: center;
}

#menu-itens{
    align-self: center;
}



#menu-itens a{
    font-weight: 600;
    text-decoration: none;
    padding: 40px;
    color: black;
}

#menu-itens a:hover{
    color: rgb(66, 66, 66);
    text-decoration: none;
    text-decoration: underline;
}

#explore{
    height: 35px;
    width: 100px;
    font-size: 1em;
    font-weight: 600;
    align-self: center;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    margin-left: 50px;
}

#explore:hover{
    color: white;
    background-color: rgb(66, 66, 66);
    cursor: pointer;
}

#inicio{
    background: url(images/capa.jpg) no-repeat fixed;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    height: 90vh;
    width: 100%;
}

#informations{
    display: flex;
    flex-direction: column;
    width: 35%;
    align-self: center;
    margin: 0 0 0 6.5vw;
}

#inicio h2{
    font-size: 7em;
    line-height: 0.9;
    font-weight: 500;
    width: 50%;
}

#inicio p{
    font-size: 1.2em;
    margin-top: 8%;
}

#explore-more{
    height: 45px;
    width: 200px;
    margin-top: 8%;
    font-size: 1em;
    font-weight: 600;
    border: none;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    background-color: transparent;
}

#explore-more:hover{
    background-color: rgb(245, 245, 245) ;
}



#cards{
    margin: 5% 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 0px 20px 10px rgba(216, 216, 216, 0.4);
    border-radius: 5%;
    width: 20%;
    height: 50vh;
    align-items: center;

    
    
}

.card:hover{
    background: rgb(60, 160, 180);
    color: white;
}

.card h4{
    font-size: 1.2em;
    font-weight: 800;
}

.card p{
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    font-weight: 500;
}

.card a{
    cursor: pointer;
    color: black;
    font-weight: 700;
}

.card a:hover{
    color: rgb(255, 255, 255);;
}

.card img{
    width: 20%;
}

#clients{
    display: flex;
    flex-wrap: wrap;
    margin: 5% auto 0 auto;
    width: 60%;
    height: 60vh;
    justify-content: center;
}


.client{
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 30vh;
}

.client:hover{
    cursor: pointer;
    box-shadow: 0px 0px 30px 20px rgba(148, 148, 148, 0.2);
}

.client img{
    height: 10vh;
}

#galery{
    display: flex;
    flex-direction: row;
    margin: 5% auto 0 auto;
    width: 80%;
    height: 80vh;
}

#part1{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

#imagem1, #imagem2, #imagem3{
    transition: all 0.5s;
}

#imagem1:hover, #imagem2:hover, #imagem3:hover{
    transform: scale(1.2);
}

#imagem1, #imagem2{
    width: 100%;
    height: 100%;
}

#imagem1{
    background: url(images/sobreNos.jpg)no-repeat;
    background-size: cover;
}

#imagem2{
    background: url(images/0_uI-RJUcBFh3J8g30.png)no-repeat;
    background-size: cover;
}

#imagem3{
    background: url(images/13945670722_e59a31a7d1_b.jpg)no-repeat center;
    background-size: cover;
    width: 50%;
    height: 100%;
    transition: all 0.5s;
}

#icons{


    width: 20%;
    padding: 2% 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background: black;
    color: white;
    margin-top: 10%;
    width: 100%;
    height: 20vh;
    font-size: 1.2em;
}

footer p{
    text-align: center;
}

footer img{
    filter: invert(91%) sepia(62%) saturate(0%) hue-rotate(123deg) brightness(112%) contrast(104%);
}

footer img:hover{
    filter: invert(91%) sepia(62%) saturate(0%) hue-rotate(123deg) brightness(60%) contrast(104%) drop-shadow(0px 0px 2px #979797);;
}